
.hero {
  min-height: 100vh;
   background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(38, 34, 230, 0.7)),
      url('./assets/image.jpg') no-repeat center center/cover;
   min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero h1{
    font-size: 4rem;
}