
.hero {
  min-height: 100vh;
   background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(243, 7, 7, 0.7)),
      url('/image2.jpg') no-repeat center center/cover;
   min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.hero h1{
    font-size: 4rem;
    color: #fff;
}
.hero h2{
    font-size: 2rem;
    color:#ffffff;
    padding: 1rem;
}
.dev{
    width: 100%;
    max-width: 700px;
    padding: 2rem  4rem;
}
.link-a{
    padding: 8px 16px;
    color: red;
    font-size: 16px;
    font-weight: 500;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid red;
    box-shadow: 
  0 8px 25px rgba(255, 60, 60, 0.35),
  0 0 12px rgba(255, 80, 80, 0.25);

}